body {
	background-color: #F8F8F0;
	font-family: Helvetica;}
	h2 { color: #E2C1F1;
	font-size: lighter; }

	h1 { text-align: center; }
  
p{ color:black;
font-style: italic; }

a {
	font-family: 'Roboto';
    text-decoration: none;
    color: #3E3343 ;
    }

 a:hover {
 	color: #B38EC4;

 }   
div { background-color: white;
border: 1px solid;
box-shadow: 1px 10px 30px rgba(0,0,0,1) ;
border-radius: 4px;
padding: 30px; 
width: 800px ;
margin: 0px auto;}

.center {
	display: block;
	margin-left: auto;
	margin-right: auto;


}